# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 272522040d3a064539c92bb29981e036d7df61e26c2f7864476f31e3ba6ddbafc47835729607fd9230aa7bc29831b3c664b61d9e49d73abdd77db15fd62e5283
  juicer_api_key: 
  master_password: 
  master_name: 
  master_email: 
  s3_access_key_id: 
  s3_secret_access_key: 
  rollbar_access_key:
  pio_url:
  pio_threads:
  pio_access_key: 
test:
  secret_key_base: 53d1aa391d51354caa6ef35624166bb031afe6835bc03b19b8d17da18d8e5de30a4cf9e30fb20c04db66ed1d5a142205a6322ced56364215ecebaeb5f37e37f0

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
