%form.form-horizontal.denser.send_link{:method => "POST", :enctype => "multipart/form-data" }
  %input{:name => "authenticity_token", :type => "hidden", :value => form_authenticity_token}
  / %select{name: "account"}
  /   - Account.all.each do |account|
  /     %option{value: account.id}
  /       = account.name
  %fieldset
    %h5
      Update the sources from the Juicer
  .form-actions
    %input.btn.btn-primary{:type => "submit", :name => "submit", :value => "Send"}     